

.debug { border: 1px solid red; }

/*======================
    BACKGROUNDS
======================*/

.bg-bar { background-color: #210043; }
.bg-bar-f { background-color: #210043; }
.bg-offwt { background-color: lightgray;}
.bg-drk { background-color: #1A1A1A;}

/*======================
    PADDING
  ====================*/

.p-zero { padding: 0px }
.p-sm { padding: .5em;}
.p-psm { padding: 2.5%;}
.p-m { padding: 1.5em;}
.p-top-l { padding-top: 2em; }
.p-top-sm { padding-top: .5em; }
.p-bot-m { padding-bottom: 1em; }
.p-bot-sm { padding-bottom: .5em }

.p-lt-l { padding-left: 2em; }

.fl-l { float: left; }
.fl-r { float: right; }

.p-auto { padding: auto; }

.clearfix { overflow: auto; }

/*======================
    WIDTH AND HEIGHT
  ====================*/

.wth-a { width:auto;}
.wide { width: 100% ;}
.wth-t { width: 15%;}
.wth-xs { width: 1.5em;}
.wth-sm { width: 20%;}
.wth-btn { width: 35%;}
.wth-m { width: 50%; }
.wth-m1 { width: 45%;}
.wth-lrg { width: 70%; }
.wth-article { width: 54%;}
.wth-code { width: 60%;}

.ht-buttn { height: 2em;}

.ht-l { height: 6em;}
.ht-xxl { height: 15em;}
.ht-m { height: 50%;}

.inline-b { display: inline-block; }
.inline { display: inline;}
.wrapper { min-height: 100%;}

/*======================
        MARGINS
  ====================*/
.no-marg { margin: 0; }
.sm-marg { margin: .5em }

.marg-bot-xs { margin-bottom: .25em;}
.marg-bot-sm { margin-bottom: .5em;}
.marg-bot-m { margin-bottom: 1em;}
.marg-r-m { margin-right: 1em;}
.marg-l-m { margin-left: 1em;}
.marg-article { margin-right: 23%; margin-left: 23%; margin-top: 2em; margin-bottom: 3em;}
.marg-top-no {margin-top: 0;}
.marg-top-m {margin-top: 1em;}
.marg-l-l {margin-left: 3em;}
.marg-bot-no {margin-bottom: 0;}

.marg-bot-foot { margin-bottom: 6em;}
.center { margin: auto; }
.align-r { margin-left: auto; }
.align-l { margin-right: auto; }
.indent {margin-left: .5em;}
.indent_twice { margin-left: 1.5em;}


/*======================
      FONTS AND TEXT
  ====================*/
.Goog-font { font-family: 'Titillium Web', sans-serif; }
.fnt-courier { font-family: courier, monospace; }

.br { display: block; }
.lh-m { line-height: .8em; }
.lh-zero { line-height: 1em; }
.lh-l { line-height: 1.75em; }
.rel { position: relative; }

.txt-sm { font-size: .6em; }
.txt-m { font-size: 1.3em; }
.txt-150p { font-size: 1.5em; }
.txt-l { font-size: 1.8em; }
.txt-xl { font-size: 2.5em; }

.txt-lt { color: #D9D9D9; }
.txt-wt { color: white; }
.txt-nd { text-decoration: none; }
.txt-b {font-weight: bold; }
.txt-blk {color: black; }
.txt-grn {color: lime; }
.txt-just {text-align: justify;}
.txt-lft {text-align: left;}
.txt-rt {text-align: right;}




.button {
  color: lightgray;
  background-color: #210043;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

code {
  color: white;
  display: inline-block;
  background-color: #16062C;
  width: 80%;
  font-family: monospace;
  padding: .6em;
  margin: auto;
  padding-left: 2em;
  text-align: left;
}

.link:hover { text-decoration: underline;}
.button:hover { background-color: #2D0C58; }

.avatar-size { width: 6em; }
.avatar-shape {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.push { height: 7em;}

.ft-bot { bottom: 0; left: 0; height: 7em;}

.outer-container { position: relative; left: 50%; float: left; clear: both; margin: 0; text-align: left; }

.inner-container { position: relative; left: -50%; text-align: left; }

#wrapper { min-height: 100%; 
  position: relative;
  display: block;
  margin: 0 auto -7em;}